:root {
  --navbar-height: 4rem;
}

.hero-section {
  padding-top: calc(var(--navbar-height) + 1rem);

  @media (min-width: 40rem) {
    padding-top: calc(var(--navbar-height) + 1.5rem);
  }

  @media (min-width: 64rem) {
    padding-top: calc(var(--navbar-height) + 2rem);
  }
}